<<<<<<< HEAD
p#esipuhe {
	text-decoration:underline;
	text-align:right;
	letter-spacing:0.5em;
	padding-left:10em;
	line-height:300%;	
=======
p#esipuhe {
	text-decoration:underline;
	text-align:right;
	letter-spacing:0.5em;
	padding-left:10em;
	line-height:300%;	
>>>>>>> 1bf856ecefdaa92726ff825197de633742624cf0
}